---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <ul class="animate space-y-0">
        {
          posts.map((post) => (
            <li>
              <a
                href={`/posts/${post.id}/`}
                class="group block py-2 transition-colors hover:text-gray-500 dark:hover:text-gray-400"
              >
                <span class="text-sm text-black group-hover:text-gray-600 dark:text-white dark:group-hover:text-gray-300">
                  {post.data.title}
                </span>
                <FormattedDate
                  date={post.data.date}
                  class="ml-1 text-xs text-gray-400 dark:text-gray-500"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </aside>
  </Container>
</Layout>
